.navmenu ul{ list-style:none; position:relative; height:25px; margin-top:5px;}
.navmenu ul li{ display:block; float:left; padding:5px 8px; border-left:1px #DACCC5 solid; position:relative; background:#EEECDF}
.navmenu ul li:first-child{ border-left:0}
.navmenu ul li a{ text-decoration:none; text-align:center; color:#3e3e3e; font-weight:bold; display:block}
.navmenu ul li ul{ position:absolute; display:none; left:0; width:180px; z-index:3}
.navmenu ul li ul li ul{position:absolute}
.navmenu ul li ul li{ display:block; float:none; background:#D2DBE3; border:1px medium #0CF; }
.navmenu ul li ul li a{text-align:left; }
.navmenu ul li ul li:hover, .navmenu ul li:hover{ background:#B5CCF0}
.navmenu ul li ul li:first-child{border-left:0}
.arrow-bar{background: url(../images/down.png) no-repeat scroll right center transparent; padding-right:15px ;}
.navmenu ul li ul li a{ background:none;}

.content{ margin:10px 0; padding:1% 0; position:relative; width:100%}
.content h3{ display:block; margin:0; padding:0 5px; font-size:13pt;}
.content p{ padding:5px; display:block; margin-bottom:5px;}
.content article{ margin:10px 0; display:none }
